body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('/farm_gear_rentals/image/bg.jpg') no-repeat center center/cover;

}


.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
